@page
@model AspNet.RazorPages.Net6.Pages.SecretModel
@{
    ViewData["Title"] = "Secure Page";
}
<h1>@ViewData["Title"]</h1>

<p>You will only see this page if you are logged in.</p>

@using Microsoft.AspNetCore.Authentication

<h2>Claims</h2>

<dl>
    @foreach (var claim in User.Claims)
    {
        <dt>@claim.Type</dt>
        <dd>@claim.Value</dd>
    }
</dl>

<h2>AuthenticateResult Properties</h2>

<dl>
    @{
        var props = (await HttpContext.AuthenticateAsync()).Properties;
        if (props != null)
        {
            @foreach (var prop in props.Items)
            {
                <dt>@prop.Key</dt>
                <dd>@prop.Value</dd>
            }
        }
    }
</dl>
